body{
  background-color: white;
}
.store { 
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    width: 100%;
    column-gap: 5px;
    row-gap: 5px;
  }
  .item {
    
    border-style: inherit;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);  
    margin: 5px auto;
    transform:matrix(1,0,0,1,0,0);  
  }
