.store {
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
  }
  .item {
    width: 300px;
    border-style: inherit;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);  
    margin: 10px auto;  
    transform:matrix(1,0,0,1,0,0);  
  }
.item:hover{
   transform:matrix(1.1,0,0,1.1,0,0);
   transition:transform 4s ease 0s;
  }
  .item button:hover{
    animation:shake 4s ease-in 1s infinite normal;
  }
  @keyframes shake {
    0%{ transform: rotate(-15deg); -ms-transform: rotate(-15deg); }
    2%{ transform: rotate(15deg); -ms-transform: rotate(15deg); }
    4%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
    6%{ transform: rotate(18deg); -ms-transform: rotate(18deg); }
    8%{ transform: rotate(-22deg); -ms-transform: rotate(-22deg); }
    10%{ transform: rotate(22deg); -ms-transform: rotate(22deg); }
    12%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
    14%{ transform: rotate(18deg); -ms-transform: rotate(-18deg); }
    16%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
    18%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
    20%{ transform: rotate(0deg); -ms-transform: rotate(0deg); }
    }
  .item-top {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .thumbnail {
    min-width: 100px;
    width: 100%;
    position: sticky;
    right: 0;
    margin: auto;
  }
  .cost {
    position: sticky;
    text-align: center;
  }

  .buy-div {
    display: flex;
    flex-direction: column;
  }

  button {
    background-color: rgba(0, 128, 0, 0.5);
  }

  a {
    text-decoration: none;
  }
