body{
  background-image: radial-gradient(#85c400,#00754e,#212780);
  width: 100%;
  margin: 0;
  padding: 0;
}

.header{
  background-image: linear-gradient(145deg,#620073,#24ecf3,#620073);
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-bottom: 2px;
}
.footer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(145deg,#24ecf3,#620073);
  color: wheat;
  text-align: center;
  padding: 0px;
  opacity: .9;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
h2{
  position: relative;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  letter-spacing: 3px;
  top: 10px;

}
.btnL{
  position: relative;
  top: 50vh;
  font-size: 30px;
  background-color: #24ecf316;
  font-family: 'Times New Roman', Times, serif;
}
.btnL button{
  background-color: rgb(252, 236, 144);
  height: 70px;
  width: 100%;
  border-radius: 2px;
  color: black;
  font-size: large;
  margin-bottom: -2px;
}
.btnL button:hover{
  transition:transform 0.5s ease-in 0s;
  font-size: larger;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.665);
}

.btnL p img{
  width: 150px;
  float: right;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  color: rgb(0, 0, 0);
  min-height: 100vh;
}

.scrollContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 150vh;
}
@media only screen and (min-width: 2560px) {
  .scrollContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 90vh;
  }
}
@media only screen and (max-width: 425px) {
  .scrollContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 140vh;
  }
}
@media only screen and (max-width: 375px) {
  .scrollContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 150vh;
  }
}
@media only screen and (max-width: 320px) {
  .scrollContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 150vh;
  }
}
@media only screen and (max-width: 280px) {
  .scrollContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 120vh;
  }
}
.scrollContainer img{
  max-width: 300px;
  width: 45%;
  margin: 5px;
  flex: 1 1;
}
a {
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.665);
  position: relative;
}
.css-slideshow{

  flex-basis: 100%;
}
.css-slideshow figure{
  margin: 0;
  position: absolute;
  opacity:0;
  left: 50%;
  transform: translateX(-50%);
}
.css-slideshow img{
  top: 0px;
  max-height: 300px;
}
figure:nth-child(1) {
  animation: xfade 54s 48s infinite;
}
figure:nth-child(2) {
  animation: xfade 54s 42s infinite;
}
figure:nth-child(3) {
  animation: xfade 54s 36s infinite;
}
figure:nth-child(4) {
  animation: xfade 54s 30s infinite;
}
figure:nth-child(5) {
  animation: xfade 54s 24s infinite;
}
figure:nth-child(6) {
  animation: xfade 54s 18s infinite;
}
figure:nth-child(7) {
  animation: xfade 54s 12s infinite;
}
figure:nth-child(8) {
  animation: xfade 54s 6s infinite;
}
figure:nth-child(9) {
  animation: xfade 54s 0s infinite;
}
@keyframes xfade{
  0%{
    opacity: 1;
  }
  6.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider-container{
  position: absolute;
  max-width: 390px;
  height: 390px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
/*
@media only screen and (min-width: 280px) {
  .slider-container{
    top: 500vh;
  }
}
@media only screen and (min-width: 320px) {
  .slider-container{

    top: 555vh;
  }
}
@media only screen and (min-width: 360px) {
  .slider-container{

    top: 400vh;
  }
}
@media only screen and (min-width: 375px) {
  .slider-container{

    top: 400vh;
  }
}
@media only screen and (min-width: 390px) {
  .slider-container{

    top: 400vh;
  }
}
@media only screen and (min-width: 412px) {
  .slider-container{

    top: 400vh;
  }
}
@media only screen and (min-width: 425px) {
  .slider-container{

    top: 460vh;
  }
}
@media only screen and (min-width: 540px) {
  .slider-container{

    top: 300vh;
  }
}
@media only screen and (min-width: 768px) {
  .slider-container{

    top: 200vh;
  }
}
@media only screen and (min-width: 820px) {
  .slider-container{

    top: 170vh;
  }
}
@media only screen and (min-width: 1024px) {
  .slider-container{

    top: 280vh;
  }
}
@media only screen and (min-width: 1280px) {
  .slider-container{

    top: 235vh;
  }
}
@media only screen and (min-width: 1440px) {
  .slider-container{

    top: 200vh;
  }
}
@media only screen and (min-width: 2560px) {
  .slider-container{

    top: 125vh;
  }
}
*/

@media only screen and (min-width: 360px) {
  .slider-container{

    top: 350vh;
  }
}
@media only screen and (min-width: 414px) {
  .slider-container{

    top: 300vh;
  }
}
@media only screen and (min-width: 601px) {
  .slider-container{

    top: 230vh;
  }
}
@media only screen and (min-width: 1024px) {
  .slider-container{

    top: 220vh;
  }
}
@media only screen and (min-width: 1280px) {
  .slider-container{

    top: 240vh;
  }
}
@media only screen and (min-width: 1920px) {
  .slider-container{

    top: 150vh;
  }
}

.image-container {
  display: flex;
  transition: transform 0.4s ease-in-out;
}
.image-container img{
  height: 390px;
  width: 390px;
}
.btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  opacity: 50%;
  cursor: pointer;
}
.btn.prev{
  left: 10px;
}
.btn.next{
  right: 10px;
}
.btn:hover{
  opacity: 1;
}