body{
  background-image: radial-gradient(#85c400,#00754e,#212780);
  width: 100%;
  margin: 0;
  padding: 0;
}

.reviews{
  position: relative;
  top: 300px;

}
.reviews img{
  width: 100%;
  margin: 2px auto;
}

@media (max-width: 767px) {
  .reviews img{
    display: none;
  }
}

.header{
 background-image: linear-gradient(
        to right, #620073,#24ecf3,#620073);
    background-size: 400% 400%;
    animation: animate-background 35s infinite ease-in-out;
    text-align: center;
    height: 7.25rem;
    width: 100%;
    margin-bottom: .125rem;
  }
  @keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.header h2{
    animation:newspaper 2s ease 1s 1 normal;  }
    @keyframes newspaper {
      0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3) rotate(720deg); }
      100%{ opacity: 1; transform: scale3d(1,1,1) rotate(0deg); }
      } 
    @keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.footer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  height: 4.25rem;
  width: 100%;
  background-image: linear-gradient(145deg,#24ecf3,#620073);
  color: wheat;
  text-align: center;
  padding: 0px;
  opacity: .9;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

li{
  list-style: none;
  }

h2{
  position: relative;
  font-size: 1.875rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px magenta, 0 0 70px magenta, 0 0 80px magenta, 0 0 100px magenta, 0 0 150px magenta;
  letter-spacing: .1875rem;
  top: .625rem;
  animation:glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px magenta, 0 0 70px magenta, 0 0 80px magenta, 0 0 100px magenta, 0 0 150px magenta;
    }
    100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px fuchsia, 0 0 70px fuchsia, 0 0 80px fuchsia, 0 0 100px fuchsia, 0 0 150px fuchsia, 0 0 200px fuchsia;
    }
  }

.btnL{
    position: relative;
    top: 300px;
    font-size: 1.875rem;
    background-color: #24ecf316;
    font-family: 'Times New Roman', Times, serif; 
  }
  .btnL button{
    transition: 2.3s;
    height: 4.375rem;
    width: 100%;
    border-radius: 2px;
    color: black;
    font-size: large;
    margin-bottom: -2px;
  }
  .btnL button:nth-child(3){
    will-change: transform;
    color: aliceblue;
    background-color: rgba(134, 0, 0, 0.893);
    border:5px double silver;
}
  .btnL button:nth-child(4){
    will-change: transform;
    background-color: rgb(255, 0, 0);
    border: 5px double white;
}
  .btnL button:nth-child(5){
    will-change: transform;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 5px double silver;
}
  .btnL button:nth-child(1){
    will-change: transform;
    background-color: gold;
    border: 5px double white;
}
   .btnL button:nth-child(2){
    will-change: transform;
    background-color: silver;
    border: 5px double white;
}
 .btnL button:hover{
    transition:transform 5.5s ease-in 3s;
    font-size: larger;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.665);
    box-shadow:0px 0px 50px 25px #c369ff8f inset;
  }
article p img{
  width: 9.375rem;
  float: right;
}

article{
  position: relative;
  top: 300px;
  border-style: groove;
  background: whitesmoke;
  font-family: cursive;
  font-size: large;
}

.scrollContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 300px;
  margin: 10px auto;
}
.scrollContainer img{
  max-width: 300px;
  width: 45%;
  margin: .32rem auto;
  flex: 1 1;
}
a {
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 2px;
}
.css-slideshow{

  flex-basis: 100%;
}
.css-slideshow figure{
  margin: 0;
  position: absolute;
  opacity:0;
  left: 50%;
  transform: translateX(-50%);
}
.css-slideshow img{
  top: 0px;
  max-height: 300px;
}
figure:nth-child(1) {
  animation: xfade 54s 48s infinite;
}
figure:nth-child(2) {
  animation: xfade 54s 42s infinite;
}
figure:nth-child(3) {
  animation: xfade 54s 36s infinite;
}
figure:nth-child(4) {
  animation: xfade 54s 30s infinite;
}
figure:nth-child(5) {
  animation: xfade 54s 24s infinite;
}
figure:nth-child(6) {
  animation: xfade 54s 18s infinite;
}
figure:nth-child(7) {
  animation: xfade 54s 12s infinite;
}
figure:nth-child(8) {
  animation: xfade 54s 6s infinite;
}
figure:nth-child(9) {
  animation: xfade 54s 0s infinite;
}
@keyframes xfade{
  0%{
    opacity: 1;
  }
  6.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.article-intro {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
}

.article-intro h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.article-intro p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.article-intro button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: perspective(150px) rotateY(10deg);
  transition-duration: 0.3s;
}

.article-intro button:hover {
  background-color: #3e8e41;
  transform: perspective(150px) rotateY(30deg);
}

 /*newSection div*/
    .newSec {
      width: 100%;
      height: 300px;
      overflow-x: scroll;
      white-space: nowrap;
      scroll-behavior: smooth;
      overflow-y: hidden;
      scroll-snap-type: x mandatory; 
      top: 300px;
      position: relative;
    }
    .newSec::-webkit-scrollbar {
      display: none;
    }
    
    .newChild {
      width: 300px;
      height: 300px;
      display: inline-block;
      scroll-snap-align: start;
    }
    .newText {
      position: sticky;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      font-weight: bold;
      color: beige;
      z-index: 1;
    }
    .view-all {
      width: 300px;
      height: 300px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      position: relative;
      scroll-snap-align: end;
    }
    .view-all:hover {
      background-color: #24ecf334;
    }
    .view-all a {
      display: inline-block;
      padding-top: 120px;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
    
    .view-all i {
      display: inline-block;
      margin-left: 10px;
      font-size: 16px;
    }

  .clock{
  display: flex;
  width: 100%;
 
  z-index: -1;
  left: auto;
  right: auto;
  }

  .clock div{
  margin: 0px;
  position: relative;
  
  }

  .clock span{
  width: 50px;
  height: 40px;
  background: radial-gradient(rgb(90, 205, 117),rgb(90, 205, 117),white) ;
  opacity: .8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border-radius: 50%;
  box-shadow: #ffffff;
  }


  .clock #ampm{
  bottom: -6px;
  right: 0;
  position: absolute;
  width: 30px;
  height: 15px;
  font-size: 10px;
  background: rgb(0, 0, 0);
  }
